<section class="header_text">
    We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates.
    <br />Don't miss to use our cheap abd best bootstrap templates.
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Feature
                                    <strong>Products</strong></span></span></span>

                        <span class="pull-right">
                            <a class="left button" href="" data-slide="prev"></a><a class="right button" href=""
                                data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    <% data.products.data.forEach(pd=> {%>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="<%= baseUrl  %>products/detail/<%= pd.id %>"><img src="<%= pd.url %> " alt="" /></a>
                                                </p>
                                                <a href="<%= baseUrl  %>products/detail/<%= pd.id %>" class="title">
                                                    <%= pd.name %>
                                                </a><br />
                                                <a href="<%= baseUrl  %>products/detail/<%= pd.id %>" class="category">
                                                    <%= pd.description %>
                                                </a>
                                                <p class="price">
                                                    <%= pd.price %>$
                                                </p>
                                            </div>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>
                            <div class="pagination pagination-small pagination-centered">
                                <ul>
                                    <% if(page> 1){ %>
                                        <li><a href="<%= baseUrl  %>?page=<%= Number(page)-1  %>">Prev</a>
                                        </li>
                                        <% } %>
                                            <% let numberPage=Math.ceil(data.products.count / data.limit) ; for (let
                                                index=1; index <=numberPage; index++) { %>
                                                <li class="<%= page == index ? 'active' : '' %>"><a
                                                        href="<%= baseUrl  %>?page=<%= index  %>">
                                                        <%= index %>
                                                    </a></li>
                                                <% } %>
                                                    <% if(page < numberPage){ %>
                                                        <li><a
                                                                href="<%= baseUrl  %>?page=<%= Number(page)+1  %>">Next</a>
                                                        </li>
                                                        <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="lib/themes/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="lib/themes/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIPPING</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="lib/themes/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_client">
    <h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="lib/themes/images/clients/4.png"></a>
        </div>
    </div>
</section>