<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Shopping Mall</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="<%= baseUrl %>lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="<%= baseUrl %>lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		<link href="<%= baseUrl %>lib/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="<%= baseUrl %>lib/themes/css/flexslider.css" rel="stylesheet"/>
		<link href="<%= baseUrl %>lib/themes/css/main.css" rel="stylesheet"/>
		<link href="<%= baseUrl %>lib/toastr-master/build/toastr.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="<%= baseUrl %>lib/themes/js/jquery-1.7.2.min.js"></script>
		<script src="<%= baseUrl %>lib/bootstrap/js/bootstrap.min.js"></script>				
		<script src="<%= baseUrl %>lib/themes/js/superfish.js"></script>	
		<script src="<%= baseUrl %>lib/themes/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>	
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">				
                        <li><a href="#">My Account</a></li>
                        <li><a href="<%= baseUrl %>cart">Your Cart</a></li>
                        <li><a href="<%= baseUrl %>checkout">Checkout</a></li>					
                        <li><a href="<%= baseUrl %>login">Login</a></li>		
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
<div id="wrapper" class="container">
    <%- include('menu',data); %>
    <%- include('banner',data); %>
   