<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div>
                <form action=""
                    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                    method="get">
                    <div class="input-group">
                        <input name="find" type="text" class="form-control bg-light border-0 small"
                            placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <a href="<% baseUrlAdmin %>product/addproduct" class="btn btn-group btn-danger" style="margin: 20px 20px;">ADD
            Product</a>
        <a href="<% baseUrlAdmin %>product/category" class="btn btn-group btn-danger" style="margin: 20px 20px;">ADD
            Category</a>
        <!-- <div class="modal fade" id="addproduct">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Tạo sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label for="">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="nameProduct" placeholder="Input field">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveProduct()">Save changes</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <script>
            var baseUrlAdmin = '<%= baseUrlAdmin %>';
            function saveProduct() {
                let product = {
                    name: $('#nameProduct').val()
                };

                $.post(baseUrlAdmin + 'product/addproduct', product, function (response) {
                    if (response && response.status == true) {
                        window.location.reload();
                    }
                }, 'json')
            }
        </script> -->


        <div style="width: 100%;">

            <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <button class="btn-primary btn" onclick="$('#addproduct').modal('show')">
                    <i class="fa fa-plus"></i>
                    Tạo Sản Phẩm
                </button>
            </div> -->

            <div class="card-body " style="width: 100%;">
                <div class="table-responsive text-center">
                    <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Categories name</th>
                                <th>Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.listProduct.data.forEach(lp=> {%>
                                <tr>
                                    <td class="text-left">
                                        <%= lp.name %>
                                    </td>
                                    <td class="text-right">
                                        <%= lp.price %>
                                    </td>
                                    <td>
                                        <%= lp.catename %>
                                    </td>
                                    <td>
                                        <%= lp.active %>
                                    </td>
                                    <td class="d-flex">
                                        <a href="<% baseUrlAdmin %>product/del/<%= lp.id %>"
                                            class="btn btn-group btn-danger">Xoá<input name="idDelete" type="hidden"
                                                value="<%= lp.id %>"></a>
                                        <a href="<% baseUrlAdmin %>product/edit/<%= lp.id %>"
                                            class="btn btn-group btn-danger ml-3">Sửa<input name="idEdit"
                                                type="hidden"></a>
                                        <a href="<% baseUrlAdmin %>product/upload/<%= lp.id %>"
                                            class="btn btn-group btn-danger ml-3">Upload Image<input name="idEdit"
                                                type="hidden"></a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination d-inline-flex">
                            <% if(page> 1){ %>
                                <li class="paginate_button page-item previous"><a class="page-link"
                                        href="<%= baseUrlAdmin  %>product?find=<%= data.find %>&page=<%= Number(page)-1  %>">Prev</a>
                                </li>
                                <% } %>
                                    <% let numberPage=Math.ceil(data.listProduct.count / data.limit) ; for (let index=1;
                                        index <=numberPage; index++) { %>
                                        <li class="<%= page == index ? 'active' : '' %> paginate_button page-item "><a
                                                href="<%= baseUrlAdmin  %>product?find=<%= data.find %>&page=<%= index  %>"
                                                class="page-link">
                                                <%= index %>
                                            </a></li>
                                        <% } %>
                                            <% if(page < numberPage){ %>
                                                <li class="paginate_button page-item "><a class="page-link"
                                                        href="<%= baseUrlAdmin  %>product?find=<%= data.find %>&page=<%= Number(page)+1  %>">Next</a>
                                                </li>
                                                <% } %>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>